body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.card-inset {
    padding: .5em .5em .5em 1.5em;
}

.grid {
    display: grid;
}

html {
    overflow-y: hidden;
}

.column {
    padding: .5rem !important;
}
